*.gz filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/checkpoints/DeepMLP_best.pth filter=lfs diff=lfs merge=lfs -text
/data/cifar-10-batches-py/data_batch_1 filter=lfs diff=lfs merge=lfs -text
/data/cifar-10-batches-py/data_batch_2 filter=lfs diff=lfs merge=lfs -text
/data/cifar-10-batches-py/data_batch_3 filter=lfs diff=lfs merge=lfs -text
/data/cifar-10-batches-py/data_batch_4 filter=lfs diff=lfs merge=lfs -text
/data/cifar-10-batches-py/data_batch_5 filter=lfs diff=lfs merge=lfs -text
/data/cifar-10-batches-py/test_batch filter=lfs diff=lfs merge=lfs -text
/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
